.mat-mdc-card {
  margin: 15px;
  color: var(--text-color);
  border-radius: 0px;

  .mat-mdc-card-header {
    .mat-mdc-card-subtitle {
      font-size: smaller;
      font-weight: normal;
    }
  }
  
  .mat-mdc-card-content {
    padding: 0 0;
  
    div {
      padding: 8px 16px;
      color: var(--text-color);

      &.divider {
        display: flex;
        align-items: center;
      }

      > span {
        display: flex;
        align-items: center;
      }
  
      span {
        margin-right: 16px;
        > * {
          margin-right: 4px;
        }
      }

      .mat-content-description {
        font-size: 0.8rem;
      }
      .mat-icon.material-icons {
        width: 18px;
        height: 18px;
        font-size: 18px;
        color: var(--text-color);
      }
    }
  }
  
  .divider {
    border-top: 1px solid #eee;
  }
  
  .mat-mdc-card-actions {
    border-top: 1px solid #eee;
    padding: 16px;
  
    > * {
      margin-right: 8px;
    }

    .mat-mdc-button {
      border-radius: 0 !important;
      
      &.mat-button-inverse {
        background-color: var(--primary-color);
        color: white;

        &:hover {
          background-color: transparent;
          color: var(--mat-sys-primary);
        }
      }
    }
  }
  
  .mat-header-avatar {
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    color: white;
  }
}

