.mat-mdc-tab-label-container,
.mat-mdc-tab-labels {
  background-color: white !important;
}
.mat-mdc-tab-body-content {
  background-color: #eeeeee;
  height: 100%;
}
.no-leads {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  height: 100%;
}