<mat-tab-group class="mat-tab-group">
  <div *ngIf="loading">Loading...</div>
  <mat-tab label="Invited">
    <div *ngIf="invitedLeads.length === 0" class="no-leads">
      <p>No leads found</p>
    </div>
    <div *ngFor="let lead of invitedLeads">
      <app-lead-card [lead]="lead" (acceptLead)="acceptLead($event)"></app-lead-card>
    </div>
  </mat-tab>
  <mat-tab label="Accepted">
    <div *ngFor="let lead of acceptedLeads">
      <app-lead-card [lead]="lead" (declineLead)="declineLead($event)"></app-lead-card>
    </div>
  </mat-tab>
</mat-tab-group>
