@use '@angular/material' as mat;
@use './variables';

:root {
  @include mat.button-overrides((
    filled-container-color: var(--primary-color),
    filled-label-text-color: var(--primary-contrast-color),
  ));
}

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$orange-palette,
    typography: Roboto,
    density: 0
  ));
}
