// filepath: /theme-setup/theme-setup/src/styles/_variables.scss

$primary-color: #e9802f; // Cor primária
$secondary-color: #eeeeee; // Cor secundária

// Tamanhos
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;

$spacing-small: 4px;
$spacing-medium: 8px;
$spacing-large: 16px;

// Outros
$border-radius: 4px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);